nav(class="white z-depth-0")
	div(class="nav-wrapper")
		a(href="/")
			img(class="brand-logo coffe-chat-logo" src="/public/images/logo.png")
		ul(class="right hide-on-med-and-down")
			//- li
				a(class="grey-text text-darken-3") Team
			//- li
				a(class="grey-text text-darken-3") Contact
			li
				a(class="grey-text text-darken-3") Login