div(class="section white")
	div(class="container")
		h4(class="center") Our Partners
		h5(class="center") Thank you to our network partners!
		p
		div(class="row")
			div(class="center col s12 m3 l3")
				img(class="responsive-img" src="http://d9hhrg4mnvzow.cloudfront.net/womensilab.com/coffeechat1/72c6a0e1-capture_04u01u04u01u000000.PNG")
			div(class="center col s12 m3 l3")
				img(class="responsive-img" src="http://d9hhrg4mnvzow.cloudfront.net/womensilab.com/coffeechat1/951d1adf-capture_05g01v05d01u000000.PNG")
			div(class="center col s12 m3 l3")
				img(class="responsive-img" src="http://d9hhrg4mnvzow.cloudfront.net/womensilab.com/coffeechat1/dd31d8dc-capture_03i02503i024000000.PNG")
			div(class="center col s12 m3 l3")
				img(class="responsive-img" src="http://d9hhrg4mnvzow.cloudfront.net/womensilab.com/coffeechat1/1baac1e3-capture_03v02k03v02k000000.PNG")

