div(class="times row container")
	div(class="col s12 m6 l4")
		div(class="card z-depth-1" style="margin-top:20px;margin-bottom:80px;")
			div(class="card-image waves-effect waves-block waves-light z-depth-1")
				img(src=person.image)
				span(class="card-title")=person.name
			div(class="card-content")
				p(class="truncate")=person.job
				p=person.company
	div(class="col s12 m6 l4")
		from(class="col s12 m12 l12")
			div(class="input-field col s12 m12 l12")
				h5(class="center") Monday
				button(class="btn btn-flat orange-toggle waves-effect white-text coffee-chat-orange fill") 12-12:30pm
			div(class="input-field col s12 m12 l12")
				button(class="btn btn-flat orange-toggle waves-effect white-text coffee-chat-orange fill") 12:30-1pm
			div(class="input-field col s12 m12 l12")
				button(class="btn btn-flat orange-toggle waves-effect white-text coffee-chat-orange fill") 5-5:50pm
	div(class="col s12 m6 l4")
		from(class="col s12 m12 l12")
			div(class="input-field col s12 m12 l12")
				h5(class="center") Tuesday
				button(class="btn btn-flat orange-toggle waves-effect white-text coffee-chat-orange fill") 12-12:30pm
			div(class="input-field col s12 m12 l12")
				button(class="btn btn-flat orange-toggle waves-effect white-text coffee-chat-orange fill") 12:30-1pm
			div(class="input-field col s12 m12 l12")
				button(class="btn btn-flat orange-toggle waves-effect white-text coffee-chat-orange fill") 5-5:50pm
	div(class="col s12 m6 l4")
		from(class="col s12 m12 l12")
			div(class="input-field col s12 m12 l12")
				h5(class="center") Wednesday
				button(class="btn btn-flat orange-toggle waves-effect white-text coffee-chat-orange fill") 12-12:30pm
			div(class="input-field col s12 m12 l12")
				button(class="btn btn-flat orange-toggle waves-effect white-text coffee-chat-orange fill") 12:30-1pm
			div(class="input-field col s12 m12 l12")
				button(class="btn btn-flat orange-toggle waves-effect white-text coffee-chat-orange fill") 5-5:50pm
	div(class="col s12 m6 l4")
		from(class="col s12 m12 l12")
			div(class="input-field col s12 m12 l12")
				h5(class="center") Thursday
				button(class="btn btn-flat orange-toggle waves-effect white-text coffee-chat-orange fill") 12-12:30pm
			div(class="input-field col s12 m12 l12")
				button(class="btn btn-flat orange-toggle waves-effect white-text coffee-chat-orange fill") 12:30-1pm
			div(class="input-field col s12 m12 l12")
				button(class="btn btn-flat orange-toggle waves-effect white-text coffee-chat-orange fill") 5-5:50pm