<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
</head>
<body>
	<div class="row">
		<div class="col s offset offset-m1 offset-l2 s12 m10 l8">
			<div class="row">
				<div class="col s12 m4 l3">
					<div class="row">
						<a class="waves-effect waves-light modal-trigger" href="#modal1">
							<img class="circle col s12" src="../image/stock-images/stock1.jpg"></img>
							<div class="center">
								Person 1
							</div>
						</a>
					</div>
				</div>
				<div class="col s12 m4 l3">
					<div class="row">
						<img class="circle col s12" src="../image/stock-images/stock2.jpg"></img>
						<div class="center">
							Person 2
						</div>
					</div>
				</div>
				<div class="col s12 m4 l3">
					<div class="row">
						<img class="circle col s12" src="../image/stock-images/stock3.jpg"></img>
						<div class="center">
							Person 3
						</div>
					</div>
				</div>
				<div class="col s12 m4 l3">
					<div class="row">
						<img class="circle col s12" src="../image/stock-images/stock4.jpg"></img>
						<div class="center">
							Person 4
						</div>
					</div>
				</div>
				<div class="col s12 m4 l3">
					<div class="row">
						<img class="circle col s12" src="../image/stock-images/stock5.jpg"></img>
						<div class="center">
							Person 5
						</div>
					</div>
				</div>
				<div class="col s12 m4 l3">
					<div class="row">
						<img class="circle col s12" src="../image/stock-images/stock7.jpg"></img>
						<div class="center">
							Person 6
						</div>
					</div>
				</div>
				<div class="col s12 m4 l3">
					<div class="row">
						<img class="circle col s12" src="../image/stock-images/stock8.jpg"></img>
						<div class="center">
							Person 7
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="modal1" class="modal">
		<div class="modal-content">
			<div class="row">
				<div class=" col s4 m4 l4">
					<div class="row">
						<img class="circle col s12 m12 l12" src="../image/stock-images/stock1.jpg"></img>
					</div>
				</div>
				<div class="col s8 m8 l8">
					<h4>Name goes here</h4>
					<p>Bio goes here</p>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
	<script>
	$(document).ready(function() {
		// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
		$('.modal-trigger').leanModal();
	});
	</script>
</body>
</html>