html
	head
		link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
		link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="/public/css/index.css")
	body
		include ./includes/header.jade
		div(class="parallax-container valign-wrapper")
			div(class="parallax")
				img(src="/public/images/coffee-chat-third.jpg")
			div(class="row container valign" style="text-shadow: 0px 2px 5px rgba(0,0,0,.16)")
				h3(class="center header text-orange") Real Advice from Real Industry Leaders
				//- h3(class="center header text-orange") Real Advice from
				//- h3(class="center header text-orange") Real Industry Leaders
				h5(class="center coffee-chat-grey") Networking Redefined.
				h5(class="center coffee-chat-grey") The fastest-growing network for professional millenials.
				div(class="center")
					a(class="linked-in-btn" href="/wild/oauth/auth" title="Login with LinkedIn")
		div(class="section white")
			div(class="row container")
				h3(class="center header") Expert of the Week
				div(class="col s12 m6 l4")
					include ./includes/card.jade
				div(class="col s12 m6 l4")
					h5 About
					div(class="text-grey")
						h6 Work
						each work in person.work
							div=work
						h6 Education
						each education in person.education
							div=education
					//- h5 Interested in connecting?
					//- div(class="text-grey")
					//- 	h6 Sign up now for a chance to connect!
					//- div(class="center")
					//- 	a(class="linked-in-btn" href="/wild/oauth/auth" title="Login with LinkedIn")
					p
					each tag in person.tags
						div(class="chip") ##{tag}
				div(class="col s12 m6 l4")
					div(class="row")
						from(class="col s12 m12 l12")
							div(class="row")
								div What would you like you like your intro message to be?
								div(class="input-field col s12")
									textarea(class="fill")
								p(class="tiny-text") One person will be chosen each week, if you are not chose, you are eligible to setup additional coffee chats below.
								div(class="input-field col s12 m12 l12")
									button(class="btn btn-flat waves-effect white-text coffee-chat-orange fill") Request to Meet
								div(class="input-field col s12 m12 l12")
									button(class="btn btn-flat waves-effect white-text coffee-chat-orange fill modal-trigger" href="#modal") Send to a Friend
		div(class="section coffee-chat-grey-background")
			div(class="row container")
				h3(class="center header") Schedule a Coffee Chat
				h6(class="center") Based on your interests, the industry leaders below are eager to coffee chat with you. 
				h6(class="center") Select the people that you would like to be paired with.
				each person, index in people
					div(class="col s12 m6 l3" data-schedule-cc)
						include ./includes/card.jade
						input(type="checkbox" hidden value="off")
				from(class="col offset-m3 offset-l3 s12 m6 l12 row")
					div(class="input-field col s12 m12 l3")
						button(class="btn btn-flat waves-effect white-text coffee-chat-orange fill schedule-meet") Request to Meet
					div(class="input-field col s12 m12 l3")
						button(class="btn btn-flat waves-effect white-text coffee-chat-orange fill modal-trigger" href="#modal") Send to a Friend
		div(id="modal" class="modal")
			div(class="modal-content")
				h4 Refer a Friend
				div(class="input-field col s12 m4 l4")
					input(type="text" id="first_name")
					label(for="first_name") First Name
				div(class="input-field col s12 m4 l4")
					input(type="text" id="last_name")
					label(for="last_name") Last Name
				div(class="input-field col s12 m4 l4")
					input(type="text" id="email")
					label(for="email") Email
				div(class="input-field col s12 m12 l12")
					textarea(class="fill")
			div(class="modal-footer")
				a(href="#!" class="btn-flat modal-close modal-action") Cancel
				a(href="#!" class="btn-flat modal-close modal-action") Send
		div(class="parallax-container valign-wrapper")
			div(class="parallax")
				img(src="/public/images/coffee-chat-second-text.jpg")
			div(class="row container valign")
				h4(class="center" style="text-shadow: 0px 2px 5px rgba(0,0,0,.16)") Real Advice from Real Industry Leaders
		include ./includes/partners.jade
		include ./includes/footer.jade

	script(src="https://code.jquery.com/jquery-2.2.0.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
	script(src="/public/js/index.js")