<html>
<head>
	<link rel="stylesheet" href="index.css">
</head>
<body>
	<div id="header">
		<img id="logo" src="coffee.png"> 
		<p id="signup">JOIN/LOGIN </p>
	</div>
	<div id="login-background">
		<div id="login"> 
			<p>Join the CoffeeChat Network to build lasting connections</p><br>
			<!-- add in html form later? -->
			<a class="btn" href="/wild/oauth/auth">Login with LinkedIn</a> <!-- make a button -->
		</div>
	</div>
		<div id="step1">
			<img id="beans" src="beans.png"><br>
			Plant the Bean<br>
			Offer your personal expertise to help others that can learn from you
		</div>
		<div id="step2">
			<img id="harvest" src="coffee_kettle.png"><br>
			Harvest the Connection<br>
			Collect BEANS to bid on the opportunity to speak with industry experts to learn from
		</div>
		<div id="step3">
			<img id="chat" src="coffee.png"><br>
			Get the Coffee Chat<br>
			Search for people who share your professional interests and connect with them for coffee chats
		</div>
	<div id="banner"> 
		Networking Redefined<br>
		Making Connections to Make a Difference
	</div>
</body>
</html>
