<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="..\style\index.css">
</head>
<body>
	<div id="header">
		<img id="logo" src="..\image\logo.png">
		<p id="signup">LOGIN</p>
	</div>
	<div id="login">
        <p>Join the Coffee Chat Network to build lasting connections</p>
        <a class="btn" href="/wild/oauth/auth" title="Login with LinkedIn"></a>
	</div>
    <div id="steps">
		<div id="step1">
			<div id="circle"><img id="beans" src="..\image\beans.png"></div>
			<p class="h2">Plant the Beans</p>
			Offer your personal expertise to help others that can learn from you
		</div>
		<div id="step2">
			<div id="circle"><img id="harvest" src="..\image\brew.png"></div>
			<p class="h2">Harvest the Connection</p>
			Collect BEANS to bid on the opportunity to speak with industry experts to learn from
		</div>
		<div id="step3">
			<div id="circle"><img id="chat" src="..\image\cup.png"></div>
			<p class="h2">Get the Coffee Chat</p>
			Search for people who share your professional interests and connect with them for coffee chats
		</div>
    </div>
	<div id="banner"> 
		Networking Redefined.<br>
		Making Connections to Make a Difference
	</div>
</body>
</html>
