<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="../style/match_mock.css">
</head>
<body>
	<div id="header">
		<img id="logo" src="../image/Logo.png">
		<p id="logout">LOGOUT</p>
	</div>
	<div id="title">
        <p>You've been matched for a Coffee Chat!</p>
	</div>
	<div id="match">
		<div id="person1">
			<div id="window"><img src="../image/JMcCon.png"></div>
			<p class="h2">Joseph McConville</p>
			Partner, Principal<br>PwC<br>
			Interests: Advising, Mentorship, M&A
		</div>
		<div id="icon">
			<div id="window1"><img src="../image/brew.png"></div>
		</div>
		<div id="person2">
			<div id="window"><img src="../image/SNearhos.png"></div>
			<p class="h2">Stephanie Nearhos</p>
			Financial Services Consultant<br>PwC<br>
			Interests: Financial Services, Women's Leadership
		</div>
    </div>
    <div id="banner"> 
		
	</div>
</body>
</html>