html
	head
		link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
		link(rel="stylesheet" href="/public/css/index.css")
	body
		include ./includes/header.jade
		h2(class="center text-orange") Profile Survey
		h5(class="center text-orange") Help us improve your matches!
		div(class="row container text-orange")
			div(class="row")
				div(class="input-field col s4 offset-s4")
					p 1. Industries you are interested in (choose 3)
					select(multiple)
						option(value="" disabled selected) Industries of Interest
						for item in industries
							option(value=item)=item
			div(class="row")
				form(class="col s4 offset-s4")
					p 2. School
							div(class="input-field col s12")
							input(placeholder="School Name" type="text")
			div(class="row")
				div(class="col s4 offset-s4")
					p 3. Graduation Year 
					select
						option(value="" disabled selected) Select a Year
						-for(var x=2019; x>1939; --x)
							option(value=x)=x
			div(class="row")
				div(class="input-field col s4 offset-s4")
					p 4. Hobbies/Interests (choose 3)
					select(multiple)
						option(value="" disabled selected) Select Hobbies
						each hobby in hobbies
							option(value=hobby)=hobby
			div(class="row")
				div(class="input-field col s4 offset-s4")
					p 5. What are the top 3 features you find important in a job? 
					select(multiple)
						option(value="" disabled selected) Select Job Features
						each feat in jobFeatures
							option(value=feat)=feat
			div(class="row")
				button(class="btn waves-effect waves-light col coffee-chat-orange offset-s5" type="submit" name="action") Submit
	include ./includes/footer.jade

	script(src="https://code.jquery.com/jquery-2.2.0.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
	script(src="/public/js/survey.js")